h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

/*開始ボタン*/
#StartBtn {
  text-align: center;
  border: 2px solid #27acd9;
  border-radius: 5px;
  background-color: #27acd9;
  color: #ffffff;
  padding: auto;
  width: 320px;
  height: 45px;
  font-size: 20px;
}
#StartBtn:hover {
  color: #27acd9;
  background-color: #ffffff;
}
.Start {
  text-align: center;
}

button {
  cursor: pointer;
}

/*選択ボタン*/
.answerBtn {
  display: block;
  text-align: center;
  border: 2px solid #27acd9;
  border-radius: 5px;
  background-color: #27acd9;
  color: #ffffff;
  margin: auto;
  margin-top: 15px;
  padding: auto;
  width: 320px;
  height: 45px;
  font-size: 20px;
}
.answerBtn:hover {
  color: #27acd9;
  background-color: #ffffff;
}

.disabled-button {
  background-color: gray;
  color: #333;
  cursor: not-allowed;
  border: none;
}
.disabled-button:hover {
  color: #333;
  background-color: gray;
}

/*まる*/
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 20px solid red;
  opacity: 0.8;
}

.hidden {
  display: none;
}

/*ばつ*/
.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  opacity: 0.8;
  font-size: 300px;
  color: blue;
  text-align: center;
}
.hidden2 {
  display: none;
}

/*次へボタン*/
#nextBtn {
  background: none;
  border: none;
  outline: none;

  display: block;
  text-align: center;
  background-color: #ffffff;
  color: #27acd9;
  border: 3px solid #27acd9;
  border-radius: 5px;
  padding: auto;
  margin: auto;
  margin-top: 60px;
  width: 320px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
}
#nextBtn:hover {
  color: #ffffff;
  background-color: #27acd9;
}
